{
    "server": {
        "host": "free.ngrok.cc",
        "port": 4443,
        "bufsize": 1024
    },
    "client": [
        {
            "protocol": "http",
            "hostname": "",
            "subdomain": "aquariumhub",
            "rport": 0,
            "lhost": "127.0.0.1",
            "lport": 8080
        }
    ]
}
